<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Require HTTPS for LockComputer" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^off$" />
          </conditions>
          <action type="Redirect"
                  url="https://smartlib.msu.ac.th/comlibmsu/{R:1}"
                  appendQueryString="true"
                  redirectType="Permanent" />
        </rule>
        <rule name="LockComputer Next.js reverse proxy" stopProcessing="true">
          <match url="(.*)" />
          <serverVariables>
            <set name="HTTP_X_FORWARDED_PROTO" value="https" />
          </serverVariables>
          <action type="Rewrite"
                  url="http://127.0.0.1:3001/comlibmsu/{R:1}"
                  appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
